@model IEnumerable<BIHCENTER.Projet>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Admin.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomProjet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateDepart)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateFin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nomChefProjet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Admin.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NomProjet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateDepart)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateFin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nomChefProjet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idProjet }) |
            @Html.ActionLink("Details", "Details", new { id=item.idProjet }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idProjet })
        </td>
    </tr>
}

</table>
